body{
  background-image: url(background.jpg);
  background-size: cover;
  color: white;
  font-family: 'Comfortaa', cursive;
}
main{
  width: 1000px;
  margin: auto;
  background-color: rgba(28, 28, 28, 0.7);
  border-radius: 15px;
  padding: 80px;
  margin-top: 30px;
}
main > div{
  width: 1000px;
  margin: auto;
}




header, h1{
  text-align: center;
  color: rgb(0,221,0);
}
img{
  width: 200px;
}
nav{
  background-color: rgb(0,221,0);
  padding: 10px;
}



section > h2{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 1px;
}
section > p{
  margin: 4px;
}
section > div{
  border-radius: 5px;
  height: 30px;
}




.caricagino{
  background-color: rgb(245,180,83);
  width: 35%;
}
.caricamike{
  background-color: rgb(30,195,30);
  width: 60%;
}
.caricafede{
  background-color: rgb(190,65,65);
  width: 15%;
}
